.calcBtn {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  color: black;
}
.btn {
  font-size: 24px;
  width: 80%;
  text-align: center;
  background-color: #f4f4f4;
  cursor: pointer;
  margin-top: 5px;
}
